.main__details {}

.main-details__header {
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 19px;
}

.main-details__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -9px -40px;
}

.details-card__body_smaller {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

.details-card__body_smallest {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.details-card__body_light {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

@media(max-width: 767px) {
  .main-details__header {
    text-align: center;
    margin-bottom: 30px;
  }

  .main-details__cards {
    margin: -13.5px;
  }
}