.details-card__footer {
  display: flex;
  align-items: center;
  position: absolute;
  left: 128px;
  bottom: 12px;
  font-size: initial;
  line-height: initial;
}

.details-footer__icon {
  margin-right: 11px;
  width: 38px;
  height: 38px;
  transition: .5s;
}

.details-footer__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
